@import "../../../../assets/css/variables";
@import "../../../../assets/css/mixins";

@media (max-width: breakpoint-max(md)) {
  .loading-ripple {
    top: 150px !important;
    left: 95px !important;
    right: 0 !important;
  }
}

/deep/ .add-note-body {
  padding: 8px 24px;
}

.notes {
  display: block;
  margin: 0 !important;
  font-family: $font-family-base;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.notes-header {
  border-bottom: solid 1px $pale-grey;
  background-color: #fff;
  min-height: 80px;
  position: relative;
  padding: 24px 35px 24px 30px;
  font-size: 0;
  &__title-text {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    h1 {
      font-family: $font-family-base;
      font-size: $font-size-h2;
      font-style: normal;
      font-weight: 700;
      font-stretch: normal;
      color: $gray-dark;
      line-height: 1;
      margin: 0;
    }
  }
  &__add-button {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 50%;
  }
}

.add-note-form {
  padding: 0;
  margin-top: 22px;
  font-size: 1rem;
  /deep/ &__action-buttons {
    padding-top: 10px;
    text-align: right;
    margin-bottom: 0;
  }
  /deep/ &__name {
    width: 100%;
    height: 40px;
    padding: 0 23px;
    margin-top: 4px;
    margin-bottom: 6px;
    background-color: #fff;
    border: solid 1px $pale-grey;
    border-radius: $border-radius;
    outline: 0;
  }
  /deep/ &__body {
    width: 100%;
    height: 80px;
    padding: 8px 23px;
    overflow-y: scroll;
    outline: none;
    border: solid 1px $pale-grey;
    border-radius: 2px;
    background-color: #fff;
  }
}

.note-list {
  position: relative;
  min-height: 100px;
  .no-notes-to-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $font-size-lg;
  }
}

/*
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
*/

.note-card, .note-card--longtext {
  margin: 0;
  font-family: $font-family-base;
  transition: box-shadow .3s;
  box-shadow: 0 1px 2px 0 rgba(181, 193, 207, 0.5);
  background-color: #fff;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(181, 193, 207, 0.5);
  }

  &:first-child {
    .note-card__title {
      box-shadow: none;
    }
  }
}

.note-card {
  padding: 20px 20px 20px 40px;
  ::-webkit-scrollbar {
    width: 0;
  }
}

// container for the card header and text
.note-card__block {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  border-left-color: #ff8c00;
  padding: 0 0 0 16px;
}

.note-card__header {
  display: none;
}

.note-card__title-text {
  overflow: hidden;
  margin-right: $input-height;
  /deep/ label {
    font-size: $font-size-lg;
    font-style: normal;
    font-weight: 600 !important;
    font-stretch: normal;
    text-transform: capitalize;
    color: $gray-dark;
  }
}

.note-card__actions {
  float: right;
  line-height: $input-height;
  width: $input-height;

  /deep/ .dropdown-menu {
    // display the popup menu to the left of the menu button
    left: auto;
    right: 100%;
  }
}

.note-card__date,
.note-card__edited-tag {
  font-size: $font-size-h5;
  color: $gray-dark;
  font-weight: normal;
  text-transform: uppercase;
}

.note-card__edited-tag {
  color: $red-pink;
  margin: 0 0 0 6px;
}

.note-card__text {
  overflow-y: hidden;
  //height: 50px;
  padding: 0 8px 0 0;
}

.note-card__title-input {
  @include sq-base-form-control;
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}

// tinymce editor
/deep/ .note-card__editor {
  display: block;
  height: 180px !important;
  max-height: 200px !important;
  outline: none;
  padding: 8px 24px;
  overflow-y: auto !important;
}

.note-card--longtext {
  padding: 0;
  .note-card__block {
    height: 100%;
    padding: 0 0 12px 0;
  }

  .note-card__title {
    background-color: #fff;
    padding: 16px 16px 16px 40px;
    width: 100%;
    margin-left: -1px;
    border-left: 1px solid #e4e8f0;
    box-shadow: 0 0 16px 0 rgba(181, 193, 207, 0.5);
  }

  .note-card__text {
    height: auto;
    margin-right: 16px;
    padding: 16px 16px 16px 40px;

    .note-card__expanded {
      height: auto;
      overflow-y: visible;
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 6px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      -webkit-appearance: none;
      width: 6px;
      height: 170px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      border: 1px solid transparent;
      background-color: rgba(127, 127, 127, 0.6);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
  }

  /deep/ .note-card__editor {
    margin: 0 0 0 16px;
  }
}

.note-card--changing {
  padding: 0;
  height: 360px;

  .note-card__block {
    border: 1px solid rgba(0, 0, 0, 0);
  }
}

.note-card.note-card--changing {
  padding: 20px 20px 20px 40px;

  /deep/ .note-card__editor {
    padding: 8px 0;
  }
}

.add-note-form {
  display: block;
  padding: 0;
  width: 100%;
}

.add-note-form__name {
  width: 100%;
  height: 40px;
  padding-right: 24px;
  padding-left: 24px;
  margin-top: 4px;
  margin-bottom: 6px;
  background-color: #fff;
  border: solid 1px $pale-grey;
  border-radius: $border-radius;
  outline: 0;
}

/deep/ .add-note-form__body {
  width: 100%;
  height: 80px;
  padding: 8px 24px;
  overflow-y: scroll;
  outline: none;
  border: solid 1px $pale-grey;
  border-radius: 2px;
  background-color: #fff;
}

.add-note-form__action-buttons {
  padding-top: 10px;
  margin-bottom: 16px;
  text-align: right;
}

.note-card__edit-note-buttons {
  float: right;
}

.notes-container .note-card .date {
  font-size: $font-size-h5;
  color: $gray-dark;
}

.notes-container .note-card .gradient-vertical-line {
  top: 20px;
  bottom: 20px;
  height: auto;
}
