<div class="page public-overview">
	<div class="loading-ripple" *ngIf="isLoading"></div>
	<div class="page-content" *ngIf="!isLoading">
		<div class="row">
			<div class="col-sm-5">
				<div class="event-details">
					<div class="panel">
						<div class="panel-heading">
							<h1>Event Details</h1>
						</div>
						<div class="panel-body">
							<h2 *ngIf="job.job_type">{{ job.job_type_details.name }}</h2>
							<h2 *ngIf="!job.job_type">No Type</h2>
							<div class="location">
								<h4>Location</h4>
								<div *ngIf="job && job.main_event_details && job.main_event_details.location">
									<span *ngIf="job.main_event_details.location.name">{{ job.main_event_details.location.name }}</span>
									<div>
										<span *ngIf="job.main_event_details.location.address1">{{ job.main_event_details.location.address1 }},
											<span *ngIf="job.main_event_details.location.address2 && job.main_event_details.location.address2 !== ''">{{ job.main_event_details.location.address2 }},</span>
										</span>
									</div>
									<div>
										<span *ngIf="job.main_event_details.location.city"> {{ job.main_event_details.location.city }}, </span>
										<span *ngIf="job.main_event_details.location.state">{{ job.main_event_details.location.state }} </span>
										<span *ngIf="job.main_event_details.location.zip">{{ job.main_event_details.location.zip }}</span>
									</div>
								</div>
								<span *ngIf="!job.main_event_details || !job.main_event_details.location">No Location</span>
							</div>
							<div class="personnel">
								<h2>Personnel</h2>
								<span *ngIf="!job.job_workers || job.job_workers.length === 0">No Workers</span>
								<div class="row" *ngIf="job.job_workers && job.job_workers.length">
									<div class="col-sm-6 personnel-container" *ngFor="let worker of job.job_workers">
										<div class="personnel-name">
											<span>{{ worker.name }}</span>
										</div>
										<div class="personnel-email">
											<span>{{ worker.email || 'No Email' }}</span>
										</div>
										<div>
											<span>{{ worker.phone || 'No Phone' }}</span>
										</div>
										<h4 class="roles" *ngIf="worker.roles && worker.roles.length">{{ worker.$formattedRoles }}</h4>
										<h4 class="roles" *ngIf="!worker.roles || worker.roles.length === 0">No Roles</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<timeline [showEditButton]="false" [showTitle]="true" [collapsibleAppointments]="true" [paramJobId]="job.id"></timeline>
			</div>
			<div class="col-sm-7">
				<div class="package-details">
					<div class="panel">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-8">
									<div *ngIf="package">
										<h1>{{ pckg.name }}</h1>
										<span class="package-desc">
											{{ pckg.description }}
										</span>
									</div>
									<div *ngIf="!package">
										<h1>No Package</h1>
									</div>
								</div>
								<div class="col-xs-4 text-right">
									<h1 class="price" *ngIf="package">{{ pckg.price | currency:'USD':true:'1.2-2' }}</h1>
									<h1 class="price" *ngIf="!package">{{ 0 | currency:'USD':true:'1.2-2' }}</h1>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="first-panel" *ngIf="overview">
								<div class="default-padding">
									<h3 class="add-ons">ADD ONS</h3>
									<div>
										<div class="row" *ngFor="let addon of overview.selectedAddons">
											<div class="col-xs-8">
												<span class="add-on-item">{{ addon.quantity }} {{ addon.name }}</span>
											</div>
											<div class="col-xs-4 text-right">
												<h2 class="price">${{ addon.total_price * addon.quantity | number:'1.2-2' }}</h2>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-8">
											<h3>SHIPPING</h3>
										</div>
										<div class="col-xs-4 text-right">
											<h2 class="price">${{ overview.shipping | number:'1.2-2' }}</h2>
										</div>
									</div>
									<div class="row" *ngIf="overview.discounts">
										<div class="col-xs-8">
											<h3>DISCOUNT</h3>
										</div>
										<div class="col-xs-4 text-right">
											<h2 class="price">${{ overview.discounts | number:'1.2-2' }}</h2>
										</div>
									</div>
                  <div class="row" *ngIf="overview.tax">
										<div class="col-xs-8">
											<h3>TAX</h3>
										</div>
										<div class="col-xs-4 text-right">
											<h2 class="price">${{ overview.tax | number:'1.2-2' }}</h2>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-8">
											<h3 class="total">TOTAL</h3>
										</div>
										<div class="col-xs-4 text-right">
											<h2 class="price total">${{ overview.totalPrice | number:'1.2-2' }}</h2>
										</div>
									</div>
								</div>
							</div>
							<!--div class="second-panel default-padding">
								<div class="second-panel-header">
									<i class="fa fa-arrow-right"></i>
									<h1 class="next-payment inline">Next Payment</h1>
								</div>
								<div class="row second-panel-body">
									<div class="col-xs-8" *ngIf="nextPayment">
										<span *ngIf="nextPayment.due">{{ nextPayment.due | date:'longDate' }}</span>
										<span *ngIf="!nextPayment.due">-</span>
										<h2 *ngIf="nextPayment.amount" class="price payment">
											{{ nextPayment.amount | currency:'USD':true:'1.2-2' }}
										</h2>
										<h2 *ngIf="!nextPayment.amount" class="price payment">
											{{ 0 | currency:'USD':true:'1.2-2' }}
										</h2>
									</div>
									<div class="col-xs-4 text-right">
										<button class="btn btn-success pay-now"
											[disabled]="!nextPayment || !nextPayment.amount">
											Pay now
										</button>
									</div>
								</div>
							</div-->
							<!--div class="third-panel default-padding">
								<div *ngIf="packageInvoices && packageInvoices.length > 0">
									<div *ngFor="let invoice of packageInvoices">
										<div *ngIf="invoice.status && invoice.status === 'paid'" class="row">
											<div class="col-xs-8">
												<i class="icon-confirm"></i>
												<span *ngIf="invoice.due" class="paid-date">
													Due {{ invoice.due | date:'longDate' }}
												</span>
												<span *ngIf="!invoice.due" class="paid-date">-</span>
											</div>
											<div class="col-xs-4 text-right">
												<span class="paid-label text-right inline">PAID</span>
											</div>
											<h2 class="paid-amount">{{ invoice.amount | currency:'USD':true:'1.2-2' }}</h2>
										</div>
										<div *ngIf="!invoice.status || (invoice.status && invoice.status !== 'paid')" class="non-paid-payment">
											<span *ngIf="invoice.due" class="non-paid-date">
												Due {{ invoice.due | date:'longDate' }}
											</span>
											<span *ngIf="!invoice.due" class="paid-date">-</span>
											<h2 *ngIf="invoice.amount" class="non-paid-amount">
												{{ invoice.amount | currency:'USD':true:'1.2-2' }}
											</h2>
											<h2 *ngIf="!invoice.amount" class="non-paid-amount">
												{{ 0 | currency:'USD':true:'1.2-2' }}
											</h2>
										</div>
									</div>
								</div>
								<div *ngIf="packageInvoices && packageInvoices.length === 0" class="text-center">
									<h2 class="no-payments">No Payments Done</h2>
								</div>
							</div-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
