<div class="panel-body payment">
  <h2 class="payment__ttl">
    Payment Schedule
  </h2>
  <div class="row payment__in">
    <div class="rippleContainer" *ngIf="isLoading">
      <div class="loading-ripple"></div>
    </div>
    <div class="text-center margin-bottom-20 no-items-message"
         *ngIf="!isLoading && !scheduledPayments.length">
      There are no payments to display
    </div>
    <div class="contract-list contract-list-extend table-responsive" *ngIf="!isLoading && scheduledPayments.length">
      <table class="table">
        <thead>
        <tr>
          <th class="gap-39">&nbsp;</th>
          <th>DATE DUE</th>
          <th>STATUS</th>
          <th>BALANCE PAID</th>
          <th>BALANCE DUE</th>
          <th>AMOUNT</th>
          <th class="gap-39"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let schedule of scheduledPayments">
          <td class="icon-39">
            <i *ngIf="schedule.overdue" class="icon-alert"></i>
            <i *ngIf="schedule.applied" class="icon-confirm"></i>
          </td>
          <td>{{ schedule.due | date:'shortDate'}}</td>
          <td class="gray">{{ schedule.status | humanize }}</td>
          <td class="gray">{{ schedule.balance_paid | currency:'USD':true }}</td>
          <td class="gray">{{ schedule.balance_due | currency:'USD':true }}</td>
          <td>{{ schedule.amount | currency:'USD':true }}</td>
          <td>
            <button class="pay-button" (click)="openModal()">Pay</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
