<form #modalForm="ngForm" (ngSubmit)="createQuickContact()" novalidate>
  <div class="row" (window:resize)="getModalContentWidth()">
      <div class="col-xs-1"></div>
      <div class="col-xs-11">
          <h3>Contact Information</h3>
      </div>
  </div>
  <div class="loading-ripple" *ngIf="isLoading"></div>
  <div class="row">
    <div class="form-group">
        <filter-select #contactType label="Contact Type*" idBlock="contactType" [listOptions]="contactTypesList" [data]="model.contact_types"></filter-select>
    </div>
    <div class="form-group">
      <form-field [(ngValue)]="model.first_name" label="First Name" [nameField]="true" type="text" required="true"></form-field>
    </div>
    <div class="form-group">
      <form-field [(ngValue)]="model.last_name" label="Last Name" [nameField]="true" type="text" required="true"></form-field>
    </div>
    <div class="form-group">
        <form-field [(ngValue)]="model.company" label="Company Name" [nameField]="true" type="text"></form-field>
    </div>
  </div>
  <div class="row form-group">
      <form-field label="Email" [withSelect]="true" [(ngValue)]="mainEmail.address" type="email" [(ngSelectValue)]="mainEmail.email_type" [options]="emailTypes"></form-field>
  </div>
  <div class="row form-group">
      <form-field label="Phone" [withSelect]="true" [(ngValue)]="mainPhone.number" type="text" [(ngSelectValue)]="mainPhone.phone_type" [options]="phoneTypes"></form-field>
  </div>
  <div class="row text-left">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
      <div>
        <div class="checkbox-custom checkbox-default">
          <input [(ngModel)]="model.treat_as_company" name="treat_as_company" type="checkbox" checked="">
          <label></label>
        </div>
        <label class="white">Bussiness Contact</label>
      </div>
      <hr>
      <span class="white">You'll be able to add more info such as address and additional phone numbers when this contact is created.</span>
    </div>
  </div>

  <button id="submitButton" type="submit" class="hidden"></button>
</form>