<div class="contact-dialog__container">
<div class="contact-dialog">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="contact-add-modal__main-title">New Contact</h2>
    </div>
    <div class="col-md-1"></div>
</div>

<form #modalForm="ngForm" (ngSubmit)="createContact()" novalidate>
<div class="loading-ripple move-up" *ngIf="isLoading"></div>

    <div *ngIf="!isLoading">
    <div class="contact-add-modal__group_filled">
        <div class="row text-left" (window:resize)="getModalContentWidth()">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <button class="import-csv-button hidden" type="button" (click)="openModal()">Import CSV</button>
                <h3 class="contact-add-modal__title">Name and Background Information</h3>
            </div>
            <div class="col-md-1"></div>
        </div>
        <!-- <div class="form-group">
            <filter-select #contactType label="Contact Type*" idBlock="contactType" [listOptions]="contactTypesList" [data]="model.contact_types"></filter-select>
        </div> -->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="field">
                    <label class="">Type</label>
                    <!-- begin dropdown select list -->
                    <div class="dropdown-select_wrap">
                        <div class="dropdown-parent open">
                            <button class="dropdown">
                                <i class="icon-down-arrow"></i>
                            </button>
                            <div class="dropdown-menu">
                                <div class="dropdown-menu__in">
                                    <div class="dropdown-menu__item">
                                        <div class="option-label">Bride</div>
                                    </div>
                                    <div class="dropdown-menu__item">
                                        <div>Cake artist</div>
                                    </div>
                                </div>
                                <div class="dropdown-menu__add">
                                    <button class="add-new">
                                    <span class="icon glyphicon glyphicon-plus"></span>
                                    Add New Role
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end dropdown select list -->
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>


        <!-- <div class="form-group">
            <form-field class="text-capitalize" label="First Name*" [(ngValue)]="model.first_name" [nameField]="true" type="text" required="true"></form-field>
        </div>
        <div class="form-group">
            <form-field class="text-capitalize" label="Last Name*" [(ngValue)]="model.last_name" [nameField]="true" type="text" required="true"></form-field>
        </div>
        <div class="form-group">
            <form-field class="text-capitalize" label="Maiden Name" [(ngValue)]="model.maiden_name" [nameField]="true" type="text"></form-field>
        </div> -->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="field">
                    <input name="first_name" type="text">
                    <label for="first_name">First name *</label>
                </div>
            </div>
            <div class="col-md-5">
                <div class="field">
                    <input name="last_name" type="text">
                    <label for="last_name">Last name *</label>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="field">
                    <input name="email" type="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="field">
                    <input name="phone" type="tel" class="is-invalid">
                    <label for="phone">Phone number</label>
                    <div class="error">
                        <span>This field is required</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="field">
                    <input name="address" type="text">
                    <label for="address">Address, City State, Zip</label>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="field">
                    <label class="">Country *</label>
                    <!-- begin dropdown select list -->
                    <div class="dropdown-select_wrap">
                        <div class="dropdown-parent">
                            <button class="dropdown">
                                <i class="icon-down-arrow"></i>
                            </button>
                            <div class="dropdown-menu">
                                <div class="dropdown-menu__in">
                                    <div class="dropdown-menu__item">
                                        <div class="option-label">Bride</div>
                                    </div>
                                    <div class="dropdown-menu__item">
                                        <div>Cake artist</div>
                                    </div>
                                </div>
                                <div class="dropdown-menu__add">
                                    <button class="add-new">
                                    <span class="icon glyphicon glyphicon-plus"></span>
                                    Add New Role
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end dropdown select list -->
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="field">
                    <input name="company_name" type="text">
                    <label for="company_name">Company Name</label>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="field">
                    <label class="">Job Type</label>
                    <!-- begin dropdown select list -->
                    <div class="dropdown-select_wrap">
                        <div class="dropdown-parent">
                            <button class="dropdown">
                                <i class="icon-down-arrow"></i>
                            </button>
                            <div class="dropdown-menu">
                                <div class="dropdown-menu__in">
                                    <div class="dropdown-menu__item">
                                        <div class="option-label">Bride</div>
                                    </div>
                                    <div class="dropdown-menu__item">
                                        <div>Cake artist</div>
                                    </div>
                                </div>
                                <div class="dropdown-menu__add">
                                    <button class="add-new">
                                    <span class="icon glyphicon glyphicon-plus"></span>
                                    Add New Role
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end dropdown select list -->
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="field">
                    <label class="is-selected">Workflow</label>
                    <!-- begin dropdown select list -->
                    <div class="dropdown-select_wrap">
                        <div class="dropdown-parent">
                            <button class="dropdown">
                                <i class="icon-down-arrow"></i>
                            </button>
                            <div class="dropdown-menu">
                                <div class="dropdown-menu__in">
                                    <div class="dropdown-menu__item">
                                        <div class="option-label">Bride</div>
                                    </div>
                                    <div class="dropdown-menu__item">
                                        <div>Cake artist</div>
                                    </div>
                                </div>
                                <div class="dropdown-menu__add">
                                    <button class="add-new">
                                    <span class="icon glyphicon glyphicon-plus"></span>
                                    Add New Role
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end dropdown select list -->
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="field">
                    <label class="">Start date</label>
                    <div class="dropdown-datepicker_wrap"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="field">
                    <label class="">End date</label>
                    <div class="dropdown-datepicker_wrap"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <!-- <div class="row form-group material-datepicker">
            <div class="col-xs-1"></div>
            <div class="col-xs-11">
                <datepicker-new #birthdayDateRef label="Birthday" [showDeleteIcon]="false" addClass="contactStyle" idBlock="birthdayDate" [options]="myDatePickerOptions" [(data)]="modelbirthdayDate" (changeInvalidDate)="setInvalidDate($event, 'birthday')" (onDelete)="onDeleteDate(idBirthday,'birthday')"></datepicker-new>
            </div>
        </div>
        <div class="row form-group material-datepicker">
            <div class="col-xs-1"></div>
            <div class="col-xs-11">
                <datepicker-new #anniversaryDateRef label="Anniversary" [showDeleteIcon]="false" addClass="contactStyle" idBlock="anniversary" [options]="myDatePickerOptions" [(data)]="modelanniversaryDate" (changeInvalidDate)="setInvalidDate($event, 'anniversary')" (onDelete)="onDeleteDate(idAnniversary,'anniversary')"></datepicker-new>
            </div>
        </div> -->
    </div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3 class="contact-add-modal__title">Important Dates</h3>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="contact-add-modal__group">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="field">
                    <label class="">Birthday</label>
                    <div class="dropdown-datepicker_wrap"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="field">
                    <label class="">Anniversary</label>
                    <div class="dropdown-datepicker_wrap"></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!-- Phones -->
    <!-- <div *ngIf="phoneTypes && phoneTypes.length > 0">
        <div class="form-group">
            <form-field
                label="Phone"
                [withSelect]="true"
                [(ngValue)]="mainPhone.number"
                [(ngSelectValue)]="mainPhone.phone_type"
                [options]="phoneTypes"
                showDelete="true"
                showPrimary="true"
                [isLoading]="mainPhone.isLoading"
                (onDelete)="onDelete($event, 'phoneService', 'phones', mainPhone)"
                (onBlur)="changeEmpty($event, 'phoneService', 'phones', mainPhone)">
            </form-field>
        </div>
    </div>
    <div *ngIf="model.phones && model.phones.length > 0">
        <div *ngFor="let phone of model.phones; let i = index ">
            <div class="form-group">
                <form-field
                    label="Phone"
                    [withSelect]="true"
                    [(ngValue)]="phone.number"
                    [(ngSelectValue)]="phone.phone_type"
                    [options]="phoneTypes"
                    showDelete="true"
                    [isLoading]="phone.isLoading"
                    (onDelete)="onDelete($event, 'phoneService', 'phones', i)"
                    (onBlur)="changeEmpty($event, 'phoneService', 'phones', i)">
                </form-field>
            </div>
        </div>
    </div> -->

    <!-- Emails -->
    <!-- <div *ngIf="emailTypes && emailTypes.length > 0">
        <div class="form-group">
            <form-field label="Email" [withSelect]="true" [(ngValue)]="mainEmail.address" type="email" [(ngSelectValue)]="mainEmail.email_type" [options]="emailTypes" showDelete="true" showPrimary="true" [isLoading]="mainEmail.isLoading" (onDelete)="onDelete($event, 'emailService', 'emails', mainEmail)"  (onBlur)="changeEmpty($event, 'emailService', 'emails', mainEmail)"></form-field>
        </div>
    </div>
    <div *ngIf="model.emails && model.emails.length > 0">
        <div *ngFor="let email of model.emails; let i = index ">
            <div class="form-group">
                <form-field label="Email" [withSelect]="true" [(ngValue)]="email.address" type="email" [(ngSelectValue)]="email.email_type" [options]="emailTypes" showDelete="true" [isLoading]="email.isLoading" (onDelete)="onDelete($event, 'emailService', 'emails', i)" (onBlur)="changeEmpty($event, 'emailService', 'emails', i)"></form-field>
            </div>
        </div>
    </div> -->

    <!-- Social Networks -->
    <!-- <div class="row">
        <div class="form-group">
            <form-field label="Website" [(ngValue)]="contactWebSite.network_id" type="web" showDelete="true" [isLoading]="contactWebSite.isLoading" (onDelete)="onDelete($event, 'socialNetworkService', 'social_networks', contactWebSite)" (onBlur)="changeEmpty($event, 'socialNetworkService', 'social_networks', contactWebSite)" ></form-field>
        </div>
        <div class="form-group">
            <form-field label="Facebook" [(ngValue)]="contactFacebook.network_id" type="text" showDelete="true" [isLoading]="contactFacebook.isLoading" (onDelete)="onDelete($event, 'socialNetworkService', 'social_networks', contactFacebook)" (onBlur)="changeEmpty($event, 'socialNetworkService', 'social_networks', contactFacebook)" ></form-field>
        </div>
        <div class="form-group">
            <form-field label="Twitter" [(ngValue)]="contactTwitter.network_id" type="text" showDelete="true" [isLoading]="contactTwitter.isLoading" (onDelete)="onDelete($event, 'socialNetworkService', 'social_networks', contactTwitter)" (onBlur)="changeEmpty($event, 'socialNetworkService', 'social_networks', contactTwitter)" ></form-field>
        </div>
        <div class="form-group">
            <form-field label="Instagram" [(ngValue)]="contactInstagram.network_id" type="text" showDelete="true" [isLoading]="contactInstagram.isLoading" (onDelete)="onDelete($event, 'socialNetworkService', 'social_networks', contactInstagram)" (onBlur)="changeEmpty($event, 'socialNetworkService', 'social_networks', contactInstagram)"></form-field>
        </div>
    </div> -->

    <!-- Custom Fields -->
    <!-- <div class="row">
        <div *ngIf="model.custom_fields && model.custom_fields.length > 0">
            <div *ngFor="let field of model.custom_fields; let i = index ">
                <div class="form-group">
                    <form-field [label]="field.name" [(ngValue)]="field.value" type="text" showDelete="true" (onDelete)="onDelete($event, 'customFieldService', 'custom_fields', i)"></form-field>
                </div>
            </div>
        </div>
    </div> -->

    <!-- New fields section -->
    <div class="row" *ngIf="!showNewFieldsSection">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <a role="button" class="btn new-field-button custom-button-pos"
               (click)="toggleNewFieldsSection()">
                <!-- <span class="icon glyphicon glyphicon-plus"></span> -->
                Add New
            </a>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- <div class="form-group form-material" *ngIf="showNewFieldsSection">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-11">
                <hr>
                <div class="pull-right">
                    <a role="button" class="close" aria-label="Close" href="javascript:void(0)"
                       (click)="toggleNewFieldsSection()">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <form-field label="Field Type" [spanWithSelect]="true" [(ngSelectValue)]="selectedFieldType" [options]="[{'id': 'phone', 'name': 'Phone'}, {'id': 'email', 'name': 'Email'}]" required="true">
            </form-field>
        </div> -->
        <!-- New Phone Value -->
        <!-- <div [hidden]="selectedFieldType !== 'phone'">
            <div class="form-group">
                <form-field label="Phone Type" [spanWithSelect]="true" [(ngSelectValue)]="selectedPhoneType" [options]="phoneTypes" auxLabel="Phone" required="true">
                </form-field>
            </div>
            <div class="form-group">
                <form-field #newPhone label="Phone Number" [(ngValue)]="phoneModel.number" required="true">
                </form-field>
            </div>
        </div> -->
        <!-- New Email Value -->
        <!-- <div [hidden]="selectedFieldType !== 'email'">
            <div class="form-group">
                <form-field label="Email Type" [spanWithSelect]="true" [(ngSelectValue)]="selectedEmailType" [options]="emailTypes" auxLabel="Email" required="true">
                </form-field>
            </div>
            <div class="form-group">
                <form-field #newEmail label="Email Address" [(ngValue)]="emailModel.address" type="email" required="true">
                </form-field>
            </div>
        </div> -->
        <!-- Custom field Value -->
        <!-- <div [hidden]="selectedFieldType !== 'custom'">
            <div class="form-group">
                <form-field #newCustom1 label="Field Name" [(ngValue)]="customFieldModel.name" required="true">
                </form-field>
            </div>
            <div class="form-group">
                <form-field #newCustom2 label="Field Value" [(ngValue)]="customFieldModel.value" required="true">
                </form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-11">
                <button type="button"
                        class="btn new-field-button custom-button-pos"
                        (click)="addNewField()">
                    <span class="icon glyphicon glyphicon-plus"></span>
                    ADD {{getFieldTypeName()}}
                </button>
            </div>
        </div> -->
        <br>
        <br>
    </div>

    <!-- Address -->
    <!-- <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <h3 class="contact-add-modal__title">Contact Location Details</h3>
        </div>
    </div>
    <div *ngIf="selectedAddressType">
        <form-field-address  #addressInput [fullAddressView]="true" [options]="addressTypes" [(ngValue)]="mainAddress" [showDelete]="true" [isLoading]="mainAddress.isLoading" (onDelete)="onDelete($event, 'addressService' , 'addresses', mainAddress)" [showPri]="true" (onBlur)="changeEmpty($event, 'addressService' , 'addresses', mainAddress)"></form-field-address>
    </div>

    <div *ngIf="model.addresses && model.addresses.length > 0">
        <div class="margin-top-20" *ngFor="let address of model.addresses; let i = index ">
            <form-field-address [fullAddressView]="true" [options]="addressTypes" [(ngValue)]="model.addresses[i]" [showDelete]="true" [isLoading]="address.isLoading" (onDelete)="onDelete($event, 'addressService' , 'addresses', i)" (onBlur)="changeEmpty($event, 'addressService' , 'addresses', i)"></form-field-address>
        </div>
    </div>

    <div>
        <button *ngIf="!showNewAddressSection" type="button" class="btn new-field-button new-address-button-pos" (click)="toggleNewAddressSection()">
            <span class="icon glyphicon glyphicon-plus"></span>
                ADD ANOTHER ADDRESS
        </button>
        <div [hidden]="!showNewAddressSection">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">
                    <hr>
                    <div class="pull-right">
                        <a role="button" class="close" aria-label="Close" href="javascript:void(0)"
                           (click)="toggleNewAddressSection()">
                            <span aria-hidden="true">×</span>
                        </a>
                    </div>
                    <br>
                </div>
            </div>
            <form-field-address #newAddress [fullAddressView]="true" [options]="addressTypes" [(ngValue)]="addressModel"></form-field-address>

            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">
                    <button *ngIf="showNewAddressSection" type="button" class="btn new-field-button custom-address-button-pos" (click)="addNewAddress()">
                        <span class="icon glyphicon glyphicon-plus"></span> ADD ADDRESS
                    </button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- </div> -->

    <input [(ngModel)]="model.id" #first_name="ngModel" name="id" type="hidden" class="form-control">

    <button id="submitButton" type="submit" class="hidden"></button>
    <button id="cancelButton" type="button" class="hidden" (click)="cancel()"></button>
</form>
</div>
</div>
