.page {
	div.panel {
	    max-width: 1174px;
	    .left-side {
	    	.page-header {
				.page-title {
					p {
			    		span.email-link {
		    				color: #086aff;
			    		}
					}
				}
	    	}
	    	.log-in-container {
				.button-container {
					.btn-resend {
						margin-top: 15px;
						background-color: #fff;
						color: #b5c1cf;
						box-shadow: none !important;
					}
				}
	    	}
		}
   		.right-side.recover { 
   			padding-left: 0px;
   		}
    	.right-side {
			.right-img-workless {
				background-image: url('assets/img/login_work_less_guy.png');
				width: 587px;
				height: 700px;
			}
		}
	}
}
