<div class="page">
  <div class="row panel panel_flex">
    <div class="left-side" *ngIf="isLoading">
      <div class="loading-ripple"></div>
    </div>
    <ng-container *ngIf="!isLoading">
      <div class="left-side col-xs-6" *ngIf="!recoverSent">
        <div class="page-header">
          <div class="logo-container">
            <div class="logo">
              <img alt="ShootQ logo" src="/assets/img/shootq-icon.svg" />
            </div>
          </div>
          <h2 class="page-title">
            <p><span>Enter your email address and we'll</span> <span>send you password reset instructions.</span></p>
          </h2>
        </div>
        <div class="log-in-container">
          <form [formGroup]="forgotPasswordForm">
            <div class="field field_placeholder" [ngClass]="{'is-validate': forgotPasswordForm.controls.email.invalid && showFormErrors}">
              <input name="email" type="text" value="" formControlName="email" [attr.data-empty]="!forgotPasswordForm.value.email">
              <label for="email">Email</label>
              <span *ngIf="forgotPasswordForm.controls.email.errors && showFormErrors" class="validate-message">
                <span *ngIf="forgotPasswordForm.controls.email.errors.required">The email is required.</span>
                <span *ngIf="forgotPasswordForm.controls.email.errors.emailExistsInvalid">User with this email doesn't exists.</span>
                <span *ngIf="forgotPasswordForm.controls.email.errors.maxlength">Email needs to be 254- characters.</span>
                <span *ngIf="forgotPasswordForm.controls.email.errors.email && forgotPasswordForm.value.email">Email is wrong.</span>
              </span>
            </div>
            <div class="button-container">
              <button type="button" class="btn" (click)="doResetPassword()">SEND</button>
            </div>
          </form>
        </div>
      </div>
      <div class="left-side col-xs-6" *ngIf="recoverSent">
        <div class="page-header">
          <div class="logo-container">
            <div class="logo">
              <img alt="ShootQ logo" src="/assets/img/shootq-icon.svg" />
            </div>
          </div>
          <h2 class="page-title">
            <p>
              <span>If you don't get an email from us within a</span>
              <span>few minutes please be sure to check your</span>
              <span>spam filter. The email will be coming from</span>
              <span class="email-link"><a href="mailto:notifications@shootq.com" target="_top">notifications@shootq.com</a></span>
            </p>
          </h2>
        </div>
        <div class="log-in-container">
          <form name="form" (ngSubmit)="doRecoverPassword()" #f="ngForm" novalidate>
            <div class="button-container">
              <button type="button" class="btn" [routerLink]="['/login']">BACK TO LOGIN</button>
              <button type="button" class="btn btn-resend" (click)="doResetPassword()">RESEND EMAIL</button>
            </div>
          </form>
        </div>
      </div>
      <div class="right-side col-xs-6">
        <div class="right-img-workless"></div>
      </div>
    </ng-container>
  </div>
</div>
