<div class="site-menubar-unfold">
  <div class="site-menubar" [class.collapsed]="collapsed">
    <div class="site-menubar-body">
      <ul class="site-menu">
        <li class="site-menu-item" routerLinkActive="active">
          <a class="animsition-link">
            <i class="site-menu-icon icon-dashboard-o" aria-hidden="true"></i>
            <span class="site-menu-title">Dashboard</span>
          </a>
        </li>
        <li class="site-menu-item" routerLinkActive="active">
          <a class="animsition-link" href="javascript:void(0);">
            <i class="site-menu-icon icon-briefcase" aria-hidden="true"></i>
            <span class="site-menu-title">Sales</span>
          </a>
        </li>
        <li class="site-menu-item" routerLinkActive="active">
          <a class="animsition-link" [routerLink]="['/jobs']">
            <i class="site-menu-icon icon-camera" aria-hidden="true"></i>
            <span class="site-menu-title">Jobs</span>
          </a>
        </li>
        <li class="site-menu-item" routerLinkActive="active">
          <a class="animsition-link" [routerLink]="['/contacts']">
            <i class="site-menu-icon icon-person" aria-hidden="true"></i>
            <span class="site-menu-title">Contacts</span>
          </a>
        </li>
        <li class="site-menu-item" routerLinkActive="active">
          <a class="animsition-link">
            <i class="site-menu-icon icon-ios-calendar" aria-hidden="true"></i>
            <span class="site-menu-title">Calendar</span>
          </a>
        </li>
        <li class="site-menu-item" routerLinkActive="active">
          <a class="animsition-link" href="javascript:void(0);">
            <i class="site-menu-icon icon-reports" aria-hidden="true"></i>
            <span class="site-menu-title">Reports</span>
          </a>
        </li>
        <li class="site-menu-item" routerLinkActive="active">
          <a class="animsition-link" [routerLink]="['/settings']">
            <i class="site-menu-icon icon-settings" aria-hidden="true"></i>
            <span class="site-menu-title">Settings</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
