<job-header #headerRef
            [tabs]="tabs" [(currentTab)]="currentTab"
            (changeJobContact)="onChangeJobContact($event)"
            (onTabChange)="handleTabChange($event)"
></job-header>
<div class="job-info-container">
  <div class="row plr padding-top-15 padding-bottom-40" *ngIf="!!job && currentTab.status === 'events'">
    <div class="col-sm-12">
      <job-events-editor [job]="job"></job-events-editor>
    </div>
  </div>
  <!--div class="row plr padding-bottom-40" *ngIf="currentTab.status === 'events'">
    <div class="col-md-5">
      <timeline (eventChanged)="refreshJobHeader($event)"></timeline>
    </div>
    <div class="col-md-7"></div>
  </div-->
  <div *ngIf="currentTab.status === 'invoices'">
    <invoices></invoices>
  </div>

    <div *ngIf="currentTab.status === 'proposals_and_contracts'">
        <div *ngIf="!proposalToShowId">
            <div class="page-content no-padding-bottom">
                <div class="row">
                    <div class="col-sm-12 no-padding">
                        <job-proposals [jobId]="jobId"
                                       (showProposal)="proposalToShowId = $event;"></job-proposals>
                    </div>
                </div>
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-sm-12 no-padding">
                        <job-contracts [job]="job"></job-contracts>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="proposalToShowId">
            <div class="page-content">
              <div class="row">
                <div class="col-sm-12 no-padding">
                  <a class="no-underline" (click)="proposalToShowId = undefined;">
                    <i class="icon-right-arrow back"></i>
                    Back to Proposals & Contracts List
                  </a>
                  <job-proposal-overview [proposalId]="proposalToShowId"></job-proposal-overview>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div *ngIf="currentTab.status === 'contacts'">
<!-- div class="page jobs-contacts-emails" -->
    <div class="page-content">
      <div class="page-container">
        <div class="row">
          <div class="col-md-8">
            <div class="jobs-correspondence__container">
              <div class="jobs-correspondence__header">
                <h1>Communication</h1>
                <button type="button" class="btn jobs-correspondence__new-message-btn hidden">
                    New Email</button>
              </div>
              <correspondence-list [correspondence]="correspondences"></correspondence-list>
            </div>
          </div>
          <div class="col-md-4">
            <job-top-contact-list
              [job]="job" [maxContactCount]="5"
              (onAddContact)="addJobContact($event)"
              (onDisplayAllContacts)="displayAllJobContacts($event)">
            </job-top-contact-list>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="notesBlock" *ngIf="currentTab.status === 'notes&activity'">
    <div class="row">
      <div class="col-sm-7">
        <notes [notes]="notes"
               [notesLoading]="notesLoading"
               [requestRes]="responseOK"
               [pagination]="paginator"
               (onDeleteNotes)="deleteNotes($event)"
               (onNoteChanged)="saveNote($event)"
               (onPageChange)="handlePageChange($event)">
        </notes>
      </div>
      <div class="col-sm-5">
        <activity-feed></activity-feed>
      </div>
    </div>
  </div>
</div>

<job-contact-list-dialog #jobContactListDialog [job]="job" [roles]="roles"
                         (addJobContact)="addJobContact($event)"
                         (jobContactChanged)="saveJobContact($event)"
                         (archiveJobContacts)="archiveJobContacts($event)"
                         (deleteJobContacts)="deleteJobContacts($event)"
                         (setAsPrimaryJobContact)="setAsPrimaryJobContact($event)"
                         (changeJobContact)="onChangeJobContact($event)"
></job-contact-list-dialog>
