.divRipple {
    background-color: #ffffff;
    position: static;
}
.action-button {
    padding-left: 12px;
    max-width: 150px;
}
.red {
    color: #fd5a64;
}
.grey {
    opacity: 0.5;
}
.br-none {
    border-right: none !important;
}
.rippleContainer {
    min-height: 200px;
}
.visibility-hidden {
    visibility: hidden !important;
    height: 0 !important;
}
