<div class="page mlr0i contract_invoice">	
	<div class="page-content">
		<div class="row mlr0i">
            <div class="col-sm-6 default-dropdown pl-0">
            	<form-field [onlySelect]="true" [options]="categories" [ngSelectValue]="selectedCategoryId" (ngSelectValueChange)="selectedCategoryChanged($event)"></form-field>
            </div>
            <div class="col-sm-6 padding-right-25">
            	<div class="pull-right">
	            	<button class="new-invoice">New Invoice</button>
	            </div>
	            <div class="input-search pull-right">
		            <i class="input-search-icon icon-search" aria-hidden="true"></i>
		            <input type="text" class="form-control" name="" placeholder="Search" />
		        </div>
            </div>
        </div>
        <div class="btn-group action-buttons">
		  <button type="button" class="btn btn-default">
	  		<i class="icon-archive"></i>
	  	  </button>
		  <button type="button" class="btn btn-default">
		  	<i class="icon-trash"></i>
		  </button>
		</div>
		<div class="row mlr0i contracts-invoices-list position-relative">
			<div class="rippleContainer" [class.hide]="!isLoading && tableAbleToDisplay">
				<div class="loading-ripple"></div>
			</div>
			<div class="col-md-12 pr-0 pl-0" [class.visibility-hidden]="!tableAbleToDisplay">
				<div class="text-center m-t-20" *ngIf="paginator.totalItems === 0">There are no items to display</div>
				<div id="table-container" class="table-responsive">
					<!-- Contracts -->
					<div *ngIf="selectedCategoryId === 0">
						<table class="table table-hover scroll contract">
							<thead>
								<tr>
									<th><div class="checkbox-custom checkbox-default"><input type="checkbox" (click)="checkAll()" [checked]="selectAllChecked" /><label></label></div></th>
									<th class="pl-0">TITLE</th>
									<th>STATUS</th>
									<th>SENT DATE</th>
									<th class="br-none">LAST VIEWED</th>
									<th class="text-middle"></th>
								</tr>
							</thead>
							<tbody [class.hide]="isLoading">
								<tr *ngFor="let contract of jobContracts; let last = last ">
									<td class="text-middle">
										<div class="checkbox-custom checkbox-default">
											<input type="checkbox" [checked]="isChecked(contract)" (click)="toggleCheck(contract)"/><label></label>
										</div>
									</td>
	          						<td class="pl-0 font-weight-600">{{contract.title}}</td>
	          						<td>{{contract.status | capitalize}}</td>
	          						<td>{{contract.sent | date: 'mediumDate'}}</td>
	          						<td class="font-weight-600">{{contract.last_viewed | date: 'mediumDate'}}</td>
	          						<td class="text-middle action-button">
	                                    <dropdown [button]="false" listClass="blue-circle pad" iconClass="icon-more-icon-o font-size-10"></dropdown>
	                                </td>
	                                {{last ? setTableWidth() : ''}}
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Invoices -->
					<div *ngIf="selectedCategoryId === 1"> 
						<table class="table table-hover scroll invoice">
							<thead>
								<tr>
									<th><div class="checkbox-custom checkbox-default"><input type="checkbox" (click)="checkAll()" [checked]="selectAllChecked" /><label></label></div></th>
									<th class="pl-0">INVOICE</th>
									<th>AMOUNT</th>
									<th>DUE</th>
									<th class="br-none">STATUS</th>
									<th class="text-middle"></th>
								</tr>
							</thead>
							<tbody [class.hide]="isLoading">
								<tr *ngFor="let invoice of jobInvoices; let last = last ">
									<td class="text-middle">
										<div class="checkbox-custom checkbox-default">
											<input type="checkbox" [checked]="isChecked(invoice)" (click)="toggleCheck(invoice)"/><label></label>
										</div>
									</td>
	          						<td class="pl-0 font-weight-600">{{invoice.id}}</td>
	          						<td>{{invoice.total | currency:'USD':true:'1.2-2'}}</td>
	          						<td [class.red]="invoice.balance > 0" 
	          							[class.grey]="invoice.balance === 0">
	          							{{invoice.balance | currency:'USD':true:'1.2-2'}}
	          						</td>
	          						<td>{{invoice.status | capitalize}}</td>
	          						<td class="text-middle action-button">
	                                    <dropdown [button]="false" listClass="blue-circle pad" iconClass="icon-more-icon-o font-size-10"></dropdown>
	                                </td>
	                                {{last ? setTableWidth() : ''}}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="paginate-container" [class.has-pages]="hasPages">
				<paginate [totalItems]="paginator.totalItems" [currentPage]="paginator.currentPage" [newDesign]="true" (ngChange)="handlePageChange($event)" [perPageOptions]="[5, 10, 50, 100]" [perPage]="paginator.perPage"></paginate>
			</div>
		</div>
	</div>
</div>